<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>CFBundleDisplayName</key>
    <string>Push</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>In order to show yourself, please accept the camera permission</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>In order to speak in the conferences, please accept the microphone permission</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>voip</string>
    </array>
    <key>NSMotionUsageDescription</key>
    <string>In order to be able to check the environmental information which will lead to a better user experience, having access to motion information will help pre-determined the best in app behaviour for the audio and video quality</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Granting us the location while you use this app will help make sure that we can tune and configure the room&apos;s quality wherever you are. Not granting this will still give you access to the features</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>In order to integrate your bluetooth&apos;s surrounding and bluetooth capable devices with room&apos;s connectivity, we need your permission to have access to them. Without this permission, you&apos;ll still be able to use the app.</string>
    </dict>
</plist>
